@media only screen and (min-width : 1440px){
    input{
        width: 135px;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
    }
    .button{
       min-width: 304px;
    }
    .subtitle{
        line-height: 30px;
    }

    .functioning h2, .restaurante h2{
        font-size: 30px;
        text-align: center;
    }
    .functioning-card{
        display: flex;
        margin-bottom: 30px;
    }
    .functioning-card-item{
        max-width: 30%;
    }
    .restaurante-desktop{
        display: flex;
        flex-wrap: wrap;
        
    }

    .retaurante-item{
        min-width: 34%;
        height: 300px;
        margin-bottom: 40px;
    }
    .retaurante-item .img-respo{
        min-height: 240px;
        }
    /* menu-pages */

    .logo-menu{
        margin-bottom: 30px;
    }
    .logo-menu img{
        margin-left: -228%;
    }
    main figure img{
        width: 50%;
        border-radius: 15px;
        max-height: 430px; 
    }
    .special-menu{
        width: 100%;
        margin: 0 auto;
        bottom: -17px;
        border-radius: 0;
    }

    .entree,.plats,.desserts{
        display: flex;
        align-items: center;
        padding-bottom: 50px;
        }

    .entree-enchantee{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .menu h3{
        min-width: 88px;
        margin-bottom: 25px;
    }
    .menu-specific{
    margin-bottom: 16px;
    }
        

}

/* tablette */
    @media only screen and (min-width : 767px){
        .functioning-card-item{
            width: 70%;
        }
        .restaurante-desktop{
            display: flex;
            flex-wrap: wrap;
            
        }
        .retaurante-item{
            width: 44%;
            margin-bottom: 30px;
        }

    
}