@charset "UTF-8";

/* Le rest */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* general rowls */

body{
    font-family: 'Roboto', sans-serif;
}
.container{
	width: 375px;
	text-align: center;
}

img{
	object-fit: cover;
}

input{
	border: none;
	background-color: #eaeaea;
	padding: 16px 0;
	text-align: center;
	width: 30%;
}


.button{
	color: #fff;
	background-image: radial-gradient(#9356DC,#FF79DA);
	width: 50%;
	margin: auto;
	padding: 18px 24px;
	border-radius: 30px;
	font-weight: 700;
	box-shadow: 4px 4px 6px #aaa;
	cursor: pointer;
	text-align: center;
	letter-spacing: 1px;
}
.button-menu{
	padding: 18px 0px;
	width: 38%;
}

h1{
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 24px;
}
h2{
	font-size: 22px;
	font-weight: 700;
}

h3{
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}

h4{
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 8px;
}
a{
	text-decoration: none;
	color: #000;
}

/* specific rowls */

.logo{
	margin-bottom: 12px;
	text-align: center;
	margin: 10px 0;
}

/* search */
.search-bar{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eaeaea;
	box-shadow: inset 0px 5px 5px 0px #dddddd;
}


/* réservation */
.booking{
	background-color: #f6f6f6;
	padding-bottom: 58px;
	margin-bottom: 52px;
	padding-top: 42px;
}
.subtitle{
	line-height: 20px;
	margin-bottom: 32px;
}
/* Fonctionnement */

.functioning h2{
	margin-bottom: 34px;
}

.functioning-card-item{
	display: flex;
	font-weight: 700;
	width: 80%;
	background-color: #f5edff;
	border-radius: 20px;
	padding: 35px 0;
	margin: 0 auto;
	margin-bottom: 24px;
	box-shadow: 1px 2px 8px 2px #c4c4c4;
	cursor: pointer;
}

.functioning-card-item span{
	color: #fff;
	background-color: #9356DC;
	width:19px;
	height: 19px;
	border-radius: 50px;
}
.functioning-card-item i{
	margin-right: 27px;
	margin-left: 18px;
}

/* restaurants */

.restaurante{
	background-color: #eaeaea;
	padding-top: 60px;
	padding-bottom: 60px;
}

.restaurante h2{
	padding-bottom: 25px;
	text-align: left;
	padding-left: 20px;
}

.retaurante-item{
	background-color: #fff;
	max-width: 90%;
	height: 254px;
	position: relative;
	border-radius: 10px 10px 10px 10px;
	margin: 0 auto;
	padding-bottom: 35px;
	margin-bottom: 20px;
	box-shadow: 4px 4px 6px #aaa;
}
.retaurante-item span{
	position: absolute;
	top: 14px;
	right: 12px;
	color: #008766;
	background-color: #99E2D0;
	padding:  10px 12px;
	border-radius: 3px;

}
.retaurante-item img{
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	max-height: 220px;
	margin-bottom: 10px;
	
}
.restaurante-choice{
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}
.restaurante-choice i{
	display: inline-block;
	font-size: 30px;
}
.restaurante-choice i:hover{
	background-image: linear-gradient(right#9356DC,#FF79DA);
}
.retaurante-item p{
	text-align: left;
	padding-left: 10px;
}

/* footer */

footer{
	background-color: #353535;
	color: #fff;
	padding-top: 24px;
	padding-bottom: 40px;
	padding-left: 20px;
}
footer i{
	padding-right: 10px;
}
.footer-service{
	display: flex;
}
footer p{
	margin-bottom: 15px;
}

#footer-heading{
	font-family: 'Shrikhand', cursive;
	margin-bottom: 34px;
}

/* Menu à la française */

main figure img{
	width: 100%;
}

.french-menu{
	background-color: #eaeaea;
	width: 100%;
	padding-top: 42px;
	padding-bottom: 84px;
	border-radius: 50px 50px 0 0;
}

.menu-title{
	display: flex;
	justify-content: space-between;
	font-family: 'Shrikhand', cursive;
	margin: 46px 18px;
}

.menu-title h2{
	font-size: 25px;
} 

.menu-title i{
	font-size: 20px;
}

.menu{
	width: 90%;
	margin: 0 auto;
}

.menu h3{
	margin-bottom: 26px;
}

.menu h3::after{
	content: '';
	border-bottom: 3px solid #99E2D0;
	width: 40px;
	display: block;
	margin-top: 10px;
}

.menu-price{
	background-color: #fff;
	padding: 16px 10px;
	border-radius: 20px;
	margin:16px 0;
	box-shadow: 4px 4px 6px #aaa;
}

.type-price{
	display: flex;
	justify-content: space-between;
}

.type-price span{
	font-weight: 700;
}
.menu-specific{
	margin-bottom: 50px;
}
